* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

#caculator {
    background: #000;
    color: #fff;
    width: 400px;
    height: 600px;
    margin: 100px auto 0;
    display: grid;
    /* 劃分 4 格，每格 1/4。縮寫gtc。 */
    grid-template-columns: repeat(4 , 1fr);
    /* 垂直置中 */
    align-items: center;
    /* 水平置中 */
    justify-items: center;
    /* 另水平置中寫法 text-align: center; */
    /* 圓角 */
    border-radius: 10px;
    /* 陰影 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3)
}

#caculator div {
    /* 可點擊 */
    cursor: pointer;
    font-size: 24px;
    padding: 30px;
}

#caculator #result {
    /* 將範圍從第一條線取至第五條線*/
    /* 重要 是以線為基準，非以格為基準*/
    grid-column: 1 / 5;
    padding: 50px;
}